
<div class="sonata-blog-comment-container">
    <h3>{{ 'title_comments'|trans({}, 'SonataNewsBundle') }}</h3>

    {% for comment in pager.results %}
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.name }}
                    <small>{{ comment.createdAt | format_datetime }}</small>
                </h4>
                {{ comment.message }}
            </div>
        </div>
    {% else %}
        {{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}
    {% endfor %}
</div>
